In [1]:
import pandas as pd

In [2]:
pbp = pd.read_csv('./raw_data/reduced/play_by_play.csv', sep=",")

/home/asmabdulgafor/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (28,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
game_ids = lines.game_id

In [6]:
game_ids

0        29600012
1        29600005
2        29600002
3        29600013
4        29600009
           ...
28016    42200307
28017    42200401
28018    42200402
28019    42200403
28020    42200404
Name: game_id, Length: 28021, dtype: int64

In [8]:
df_iter = pd.read_csv('./raw_data/raw/play_by_play.csv', sep=',', iterator=True, chunksize=1000000)

In [9]:
#iter_num = 1

df = pd.DataFrame()
while True:
    try:
        df0 = next(df_iter)
        df0 = df0[df0['score'].notnull()]
        df0 = df0[df0['game_id'].isin(game_ids)]
        
        #df0.to_csv(f'./raw_data/play_by_play{iter_num:02d}.csv', index=False)

        #print(f'{len(df0)} valid rows saved to csv')
        
        df = pd.concat([df,df0], axis=0)
        
        #iter_num = iter_num + 1
         
    except StopIteration:
            print("Finished loading data")
            break

/home/asmabdulgafor/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Finished loading data

In [13]:
df

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
12,29600012,13,1,8,1,14:53 PM,10:40,O'Neal Slam Dunk (2 PTS) (Van Exel 1 AST),NaN,NaN,...,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0
15,29600012,16,1,5,1,14:53 PM,10:05,Ceballos Layup (2 PTS) (Jones 1 AST),NaN,NaN,...,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0
22,29600012,24,3,11,1,14:54 PM,9:24,NaN,NaN,Cassell Free Throw 1 of 2 (1 PTS),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
24,29600012,26,3,12,1,14:54 PM,9:24,NaN,NaN,Cassell Free Throw 2 of 2 (2 PTS),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
28,29600012,29,1,5,1,14:55 PM,8:53,NaN,NaN,Person Layup (2 PTS) (Kleine 1 AST),...,Suns,PHX,4.0,0,NaN,1.610613e+09,Los Angeles,Lakers,LAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13592003,42200404,593,1,79,4,11:06 PM,1:21,NaN,NaN,Brown 26' 3PT Pullup Jump Shot (21 PTS),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592005,42200404,596,3,11,4,11:07 PM,1:11,Adebayo Free Throw 1 of 2 (19 PTS),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592007,42200404,599,3,12,4,11:07 PM,1:11,Adebayo Free Throw 2 of 2 (20 PTS),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592010,42200404,602,1,50,4,11:08 PM,0:44,Martin 2' Running Dunk (11 PTS) (Adebayo 3 AST),NaN,NaN,...,Heat,MIA,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592014,42200404,607,13,0,4,11:09 PM,0:00,NaN,End of 4th Period (11:09 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1

In [14]:
df.to_csv('./raw_data/reduced/play_by_play.csv', index=False)

In [2]:
df = pd.read_csv('./raw_data/reduced/play_by_play.csv', sep=',')

/home/asmabdulgafor/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (28,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
noteams = df[df['player1_team_id'].isnull()]

In [8]:
noteams.head(n=10)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
26,29600012,116,13,0,1,15:15 PM,0:00,NaN,End of 1st Period (15:15 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
27,29600012,117,12,0,2,15:18 PM,12:00,NaN,Start of 2nd Period (15:18 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
59,29600012,247,13,0,2,15:47 PM,0:00,NaN,End of 2nd Period (15:47 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
60,29600012,248,12,0,3,16:02 PM,12:00,NaN,Start of 3rd Period (16:02 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
89,29600012,372,13,0,3,16:39 PM,0:00,NaN,End of 3rd Period (16:39 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
90,29600012,373,12,0,4,16:42 PM,12:00,NaN,Start of 4th Period (16:42 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
112,29600012,489,13,0,4,17:12 PM,0:00,NaN,End of 4th Period (17:12 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
134,29600005,97,13,0,1,13:06 PM,0:00,NaN,End of 1st Period (13:06 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
135,29600005,98,12,0,2,13:09 PM,12:00,NaN,Start of 2nd Period (13:09 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
166,29600005,223,13,0,2,13:38 PM,0:00,NaN,End of 2nd Period (13:38 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

In [11]:
noteams.to_csv('./raw_data/reduced/noteamid.csv', index=False)